#socialMedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:  1px solid grey;
    height: 100px;
    font-weight: bold;
    color: grey;
}
select{
    width:120px;
    height: 30px;
    font-size: 20px;
}
#tollNo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
p+p{
    margin-top: -15px;
}
.fa-square-phone-flip{
    font-size: 30px;
    color:purple;
    background-color:white;
    border-radius: 50px;
}
#tollNo>div{
    margin-right: 10px;
    margin-top: 20px;
}
#email{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-envelope{
    color: purple;
    margin-right: 10px;
    font-size: 30px;
}
#social-Media-Icon{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 170px;
}
#social-Media-Icon>div{
    border: 1px solid rgb(93,77,168);
    border-radius: 50px;
    padding: 5px;
    color: rgb(93,77,168);
}
#rights{
    display: flex;
    align-items: center;
}
#rights>i{
    margin-right: 10px;
    color: beige;
    background-color: black;
    border-radius: 51px;
    margin-left: 10%;
}
#about{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(93,77,168);
    color: white;
}


