body{
    align-items: center;
    margin: auto;

    background-color:#f5f5f5;
}
*{
    color: #3c3c3c;
    margin: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#landpage-div1{
    width: 100%;
    height:400px;
    border: 1px solid;
    display: flex;
    margin: auto;
    padding-bottom:40px;
    background-image: url("https://images.unsplash.com/photo-1579445505461-acecf2596190?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2xhc3MlMjBidWlsZGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80");
   
}
#landpage-div1-left{
   
    width: 60%;
    height: 400px;
    border:1px solid transparent;
}
#heading-landpage{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}
#landpage-div1-left1{
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
    margin:auto;
    width: 90%;
    height: 270px;
    border:1px solid transparent;
    padding: 20PX;
    gap:10px;
   
}
#landpage-div1-left1{
    margin-top:35px;
}
.landpage-div1-left1-1>button{
    border: 1px solid transparent;
    color: white;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    font-size:20px;
    border-radius: 5px;
}
.landpage-div1-left1-1>button:hover{
   
    color: white;
    background-color: rgba(0,0,0,0.25);
    
    text-decoration:underline;
}
#landpage-div1-left1-1-id{
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
    margin-top: 30px;
}
#landpage-div1-left1-1-id>div{
    color: white;
    font-size: 20px;
}
#landpage-div1-left1-1-id>div:hover{
    color: white;
    font-size: 20px;
    text-decoration:underline;
}
.landpage-div1-left1-1>input{
   padding: 12px;
    width: 70%;
    padding-top: 10px;
}
#advancedsearch{
    font-size: 12px;
    color: white;
    margin-left: 700px;
}
#searchbutton-div1{
    width:20%;
    margin-right: 15px;
    border-radius: 0%;
    background-color:#3f22bf;
}
#searchbutton-div1:hover{
    width:20%;
    border-radius: 0%;
    
    background-color:#1a0578;
}
#landpage-div1-right{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    width: 40%;
    height: 300px;
    border:1px solid transparent;
    margin-top: 80px;
    margin-left: 30px;
    font-size:14px;
    background-color: rgba(0,0,0,0.75);
    
    border-radius:8px;
}
#landpage-div1-right1{
    border:1px solid transparent;
    margin:20px;
    background-color: white;
   
}
#landpage-div1-right1-1{
    border: 1px solid  #f5a623;;
    width:80%;
    margin:auto;
    height:100px;
    color: aliceblue;
    background-color: #f5a623;
}
#landpage-div1-right1-1:hover{
    background-color:#fc7e00;
    color:white;
}
#landpage-div1-right2{
    border:1px solid transparent;
    margin:20px;
    font-size:16px;
    background-color: white;
    color:#3c3c3c;

}
#landpage-div1-right2-1{
    border:1px solid #5d4da8;
    margin:20px;
    padding: 10px;
    margin-top: 60px;
    font-size:16px;
    font-weight:bold;
    color:#3f22bf;
    background-color:white;
 
}

#landpage-div1-right2-1:hover{
    background-color: #5d4da8;
    color:white;
}


#landpage-div2{
    margin: auto;
    margin-top: 10px;
    align-items: center;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
 background-color: white;
 width:85%;
}
.mySlides>img{
  margin:10px ; 
  margin-right: 20px;
width:150px;
height: 100px;
}
#landpage-div2{
    width:80%;     
    gap:20px;
    color: #3c3c3c;
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


.carousel-cells>img{
    margin: 10px;
width:200px;
height: 70px;
}

.main-carousels{
width:90%;

}
#landpage-div3{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    width:83%;
    border: 1px solid transparent;
    background-color: rgb(255, 233, 236);
}
.landpage-div3-track2{
    margin:10px;
    font-size:20px;
    color:#030303;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.landpage-div3-mySlide{
    border: 1px solid transparent;
  
    display: grid;
    grid-template-columns: auto auto;
}
.landpage-div3-mySlide-img{
    margin:10px ; 
  margin-right: 20px;
width:150px;
height: 100px;
}

#askme{
    
    margin-bottom: 60px;
    width:100px;
    height:30px;
   border:1px solid ;
   font-size: 20px;
   margin: auto;
   color: white;
   background-color:#3f22bf;
   padding: 10px;
   border-radius: 50px 0px 0px 0px ;
   position: absolute;
top: 10px;
left:-60px;
   
}
#askmediv{
    position: relative;
}
#landpage-div4{    
    align-items: center;
    color: #282727;
    font: 30px;
}
.landpage-div4-box{
        width:80%;
        border:1px solid transparent;
        text-align:justify;
}
#landpage-div4{
 border: 1px solid transparent;
 width:80%;
 padding: 20px;
 margin-top: 20px;
 background-color: white;
}
#landpage-div4-box1>h2{
    font-size: 30px;
    color: #3c3c3c;
}
.landpage-div4-box{
    height: 150px;
    padding-top: 10px; 
    gap: 40px;
}
.landpage-div4-box-more{
    padding-left: 20px;
    border: 1px solid transparent;
    width:300px;
    height: 130px;
    font-size: 18px;
    color: #3c3c3c;
    margin-left: 30px;
     background-color:#e0e0e0;
}

#landpage-div5{    
    align-items: center;
    color: #282727;
    font: 30px;
}
.landpage-div5-box{
        width:80%;
        border:1px solid transparent;
        text-align:justify;
}
#landpage-div5{
 border: 1px solid transparent;
 width:80%;
 padding: 20px;
 margin-top: 20px;
 background-color: white;
}
#landpage-div5-box1>h2{
    font-size: 30px;
    color: #3c3c3c;
}
.landpage-div4-box{
    height: 150px;
    padding-top: 10px; 
    gap: 40px;
}
.landpage-div5-box-more{
    padding-left: 20px;
    border: 1px solid transparent;
    width:300px;
    height: 130px;
    font-size: 18px;
    color: #3c3c3c;
    margin-left: 30px;
     background-color:#e0e0e0;
}
#landpage-div6{
    border: 1px solid transparent;
    width:80%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
   }
#landpage-div6-box1>h2{
       font-size: 30px;
       color: #3c3c3c;
   }


#landpage-div6-box{
   
    border:1px solid transparent;
    display: flex;
    gap:20px;
    text-align:justify;
    padding: 10px;
}
#b1{
    background-color: rgb(254, 241, 243);
}
#b2{
    background-color:rgb(226, 246, 253);
}
#b3{
    background-color:rgb(207, 254, 207);
}
#b4{
    background-color:rgb(241, 241, 255)
}
.landpage-div6-box-more{
    padding-left: 10px;
    border: 1px solid transparent;
    width:200px;
    font-size: 14px;
    height: 200px;

}
.landpage-div6-box-more>img{
    padding-left: 10px;
    border: 1px solid transparent;
    width:60%;
    height:100px
}
#landpage-div7{
    padding: 10px;
    width:80%;
    margin-top:20px;
    background-color: white;
}
#landpage-div7>h1{
    font-size: 35px;
    color: #3c3c3c;
}
.tab{
    margin-left: 30px;
    margin-top: 20px;
}
.tab>button{
    border:1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color:white; 
    color:black;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;

}
.tab>button:hover{
    border: #3f22bf;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color:#5038ba;
    color:white;
    border-radius: 10px 10px 0px 0px;
    margin-right: 10px;
}
.row{
    width:95%;
    height: 400px;
    font-size: 18px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid transparent;
}
.column>p{
    padding: 15px;
}
#landpage-div8{
    width:80%;
    border:1px solid; 
}
#landpage-div8-div{
    width:80%;
    border:1px solid; 
}
#browse-all-link{
    margin-left: 700px;
    color: #3f22bf;
    
}
#browse-all-link>h5{
    color: #3f22bf;
    font-weight: bolder;
}
/**/
#landpage-div8{
    margin-top:20px;
    width:80%;
border:1px solid transparent;
height: 100px;
display:grid;
grid-template-columns: auto auto;
margin-bottom:20px;
background-color:  #7159db;

}
.landpage-div8-div>input{
padding: 10px;
padding-left:40px ;
padding-right: 40px ;
}
.landpage-div8-div>button{
    padding: 10px;
   font-size: 15px;
   background-color: #f5a623;
   border: 1px solid transparent;
   color: white;
   font-weight: bold;
    }
    
    .landpage-div8-div>button:hover{
        border: 1px solid transparent;
        padding: 20px;
       font-size: 20px;
       background-color:#fc7e00;
       color: white;
        }

#landpage-div9{
    margin: auto;
    width:80%;
    border:1px solid transparent;
    margin-bottom: 10px; 
}
#landpage-div9>img{
    width:100%;
}

#landpage-div10{
    margin-top:20px;
    margin: auto;
    width:80%;
    padding: 20px;
    border:1px solid transparent; 
    background-color: white;
}
#landpage-div10-div{
    padding: 20px;
    border:1px solid transparent; 
    background-color: rgb(241, 240, 240); 
}

#landpage-div11{
    margin: auto;
    width:80%;
    padding: 20px;
    background-color: white;
}
#landpage-div11-div1{
    display: grid;
    grid-template-columns: auto auto;
   
    
}
.landpage-div11-div>h3{
    padding: 10px;
}