body{
    font-family: sans-serif;
    background-color: #e0e0e0;
}
#navbar{
    
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background-color:  #7028b5;
}
#imageX{
    width: 170px;
    height: 100px;
}
#navbar>div{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
#navbar>div button{
    border: transparent;
    background-color: #7028b5;
    color: white;
    padding: 10px 1px;
    font-size: 18px;
}  
#country{
    border: double;
    width: 160px;
    padding: 1px 10px;
}
#container{
    width: 70%;
    background-color: white;
    /* border: transparent; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#card1{
    width: 60%;
    /* border: 1px solid black; */
    
    padding: 10px 40px;
}
#card2{
    width: 35%;
    /* border: 1px solid black; */
    height: 100%;
}

h3{
    color: grey;
    margin-bottom: 10px;
}
#input{
    display: grid;
    margin: auto;
    margin-top: -5px;
   
    grid-template-columns: repeat(2,48%);
    gap: 20px;
    margin-bottom: 30px;
    
}
h2{
    color: #606060;
    margin-bottom: 50px;
}
#input>input,#input>select{
    font-size: 15px;
    padding: 5px 5px;
    border: 1px solid grey;
}
#link{
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#count{
    height: 29px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#count>input{
    width: 300px;
    padding: 15px 10px;
    font-size: 17px;
}
#count>div{
    margin-top: -30px;
    
}
#description{
    width: 95%;
    height: 60px;
    padding: 7px 12px;
    font-size: 18px;
    overflow: scroll;
}
#count p{
    color: grey;
}
#checkbox{
    margin-top: 40px;
}
#dataAdded{
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #7028b5;
    color: white;
    border: transparent;
}
#card2{
    padding: 10px 35px;
}
#card2 p{
      text-align: right;

}
#card2 p a{
    color: #89a216;
    font-size: 20px;
    font-weight: 700;
}
h1{
    color: #7028b5;
    font-size: 22px;
    margin-top: 50px;
}
.build{
    color: #89a216;
}
.share{
    color: #ff6600;
}
ul {
    color: #848383;
    margin-left: -37px;
    font-size: 15px;
    list-style: none;
    
    
}   
li {
      
      margin-bottom: 1em;
      padding-left: 1.5em;
      position: relative;
    }     
li:after {
        content: '';
        height: .8em;
        width: .8em;
        background: rgb(168, 167, 167);
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .25em;
        margin-top: 2px;
        left: 0;
      }

.free{
    color: #616168;
    font-size: 18px;
    font-weight: 700;
}  
.reach{
    color: #616168;
    font-size: 18px;
    font-weight: 700;
}          
.followers{
    color: #616168;
    font-size: 18px;
    font-weight: 700;
}  
.personal{
    color: #616168;
    font-size: 18px;
    font-weight: 700;
}       
.ready{
    color: #616168;
    font-size: 18px;
    font-weight: 700;
}
#card2 button{
    border: transparent;
    background-color: #7028b5;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 7px;
    margin-left: 170px;
    margin-top: 40px;
}   
#line{
    border-left: 1px solid grey;
    height: 900px;
    margin-top: 90px;
}
    

